<script type="text/html" id="template-aerobic-graphs">
	<div class="js-aerobic-graphs graphs-container">
        <div class="graph ct-chart ct-square js-cortisol-graph">
            <h2>Cortisol Levels</h2>
            <div class="chart ct-chart ct-square js-chart"></div>
        </div>
		<div class="graph js-IgA-graph">
            <h2>IgA Levels</h2>
            <div class="chart ct-chart ct-square js-chart"></div>
        </div>
        <div class="graph ct-chart ct-square js-amylase-graph">
            <h2>Amylase Levels</h2>
            <div class="chart ct-chart ct-square js-chart"></div>
        </div>
    </div>
</script>