<script type="text/html" id="template-facility-view">
    <div class="js-page facility-info">
        <header class="box rte">
            <div class="avatar">
                <img src="/build/images/blank-avatar.png" />
            </div>

            <div class="profile-info">
                <div class="tabs">
                    <ul>
                        <li><a href="#general">General</a></li>
                        <li><a href="#manage">Manage</a></li>
                    </ul>

                    <div id="general">
                        <h2>Planet Fitness</h2>
                        <p><b>Address:</b> 123 Fitness Lane, Palo Alto, CA</p>
                        <p><b>Phone:</b> (408) 567-9876</p>
                    </div>

                    <div id="manage">
                        <h2>Facility Info</h2>
                        <form id="facility-info">
                            <table>
                                <colgroup>
                                    <col width="30%" />
                                    <col width="65%" />
                                </colgroup>
                                <thead>
                                    <td></td>
                                    <td></td>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><label for="facility_name">Facility Name:</td>
                                        <td><input type="text" name="facility_name" /></td>
                                    </tr>
                                    <tr>
                                        <td><label for="email_address">Email:</label></td>
                                        <td><input type="text" name="email_address" /></td>
                                    </tr>
                                    <tr>
                                        <td><label for="phone">Phone:</td>
                                        <td><input type="text" name="phone" /></td>
                                    </tr>
                                    <tr>
                                        <td><label for="address_line_1">Address line 1:</label></td>
                                        <td><input type="text" name="address_line_1" /></td>
                                    </tr>
                                    <tr>
                                        <td><label for="address_line_2">Address line 2:</label></td>
                                        <td><input type="text" name="address_line_1" /></td>
                                    </tr>
                                    <tr>
                                        <td><label for="hours">Hours:</label></td>
                                        <td><input type="text" name="hours" /></td>
                                    </tr>
                                </tbody>
                            </table>

                            <input type="submit" value="Submit" />
                        </form>
                    </div>
                </div>
            </div>
        </header>

        <div class="facility-tabs box rte">
            <ul>
                <li><a href="#trainers-list">Trainers</a></li>
                <li><a href="#clients-list">Clients</a></li>
            </ul>

            <div id="trainers-list" class="item-list">
                <h2>Trainer List</h2>
                <table>
                    <colgroup>
                        <col width="50%" />
                        <col width="50%" />
                    </colgroup>
                    <thead>
                        <td>Name</td>
                        <td>Number of Clients</td>
                    </thead>
                    <tbody>
                        <tr data-href="12312">
                            <td>12312</td>
                            <td>5</td>
                        </tr>
                        <tr data-href="12313">
                            <td>12313</td>
                            <td>2</td>
                        </tr>
                        <tr data-href="12314">
                            <td>12314</td>
                            <td>3</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="clients-list" class="item-list js-clients-list">
                <h2>Client List</h2>
                <table>
                    <colgroup>
                        <col width="10%" />
                        <col width="30%" />
                        <col width="30%" />
                        <col width="30%" />

                    </colgroup>
                    <thead>
                        <td>ID</td>
                        <td>Client Name</td>
                        <td>Trainer</td>
                        <td>Member Since</td>
                    </thead>
                    <tbody>
                        <tr data-href="99">
                            <td>12312</td>
                            <td>Jen Client</td>
                            <td>Joe Trainer</td>
                            <td>11/24/2014</td>
                        </tr>
                        <tr data-href="99">
                            <td>12313</td>
                            <td>Jen Client</td>
                            <td>Joe Trainer</td>
                            <td>11/24/2014</td>
                        </tr>
                        <tr data-href="99">
                            <td>12314</td>
                            <td>Jen Client</td>
                            <td>Joe Trainer</td>
                            <td>11/24/2014</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="charts box rte">
            <h2>Chart 1</h2>
        </div>

        <div class="charts box rte">
            <h2>Chart 2</h2>
        </div>
    </div>
</script>