<script type="text/html" id="template-test">
    <ul class="js-test-links test-links">
        <li class="js-test-signup">test signup (sends dummy POST info for signup)</li>
        <li class="js-test-login">test login (sends dummy POST info, to be replaced by a Real Form&trade;</li>
        <li class="js-test-logout">test logout (no post data, should simply log user out on click)</li>
        <li class="js-test-form1-submit">test submission for "form 1" (sends BS POST data; critera and fields TBD) to be replaced by a Real Form&trade;</li>
        <li class="js-test-form2-submit">test submission for "form 2" (sends BS POST data; critera and fields TBD) to be replaced by a Real Form&trade;</li>
        <li class="js-test-form1-get">test GET for "form1" (sends GET to /api/form1/, will display data below if success)</li>
        <li class="js-test-form2-get">test GET for "form2" (sends GET to /api/form2/, will display data below if success)</li>
    </ul>

    <div class="js-results">

    </div>
</script>